<section class="results__container">
	<h1 class="results__title">RESULTS</h1>

	<div class=mentor1__percent>
		{{resultData1}}
	</div>

	<div class=mentor2__percent>
		{{resultData2}}
	</div>

	<a href = "/"><button id="button__next">Judge some other sh*t</button></a>

</section>